<!DOCTYPE html>
<html lang="pt-br"> <!--TAG HTML-->
   <!-- comentarios   -->
   <head>
       <meta charset="UTF-8">

       {% block title %}
            <title>Casa Criativa</title>
       {% endblock title %} 

       {% include "head.html" %}

   </head>
   
   <body id= "{{bodyId}}"> 
       
       <!--<h1>Casa Criativa</h1> quando queremos colocar texto-->

       <h1>{{ideias}}</h1>
       <div id="container">

        {% block content %}

        {% endblock %}
       </div>

       <!--Modal-->
       {% include "modal.html" %}

       

       <script src="/scripts.js"></script>
       
   </body>


</html>